<% provide(:title, 'Event Details') %>
<div class="center hero-unit">
<h1>Tour of Tauranga Event Details</h1>
<h2>
Edgewater Fan on the Strand, Downtown Tauranga
<br>
Sunday 9 November 2014.
<br>
<r>Entry Fees</r>
<br>
<r>On the day entries are available - cash only</r>
<br>
Individual $20.00  
<br>
Family (2 adults + 2 under 14) $50.00 
<br>
Extra child (5 - 14) $5.00
<br>

<r>--------------------</r>
<br>
Registrations from 7.30am / Start 9am
<br>
Prize giving /Spot Prizes 12:00pm

<br>
<small>
	<r>PLEASE NOTE: <br>Suitable for mountain bikes and commuter bikes. Sorry not suitable for road bikes.</r>

<br>


	
	
	
    <%= link_to "Enter now", store_path, class: "btn btn-large btn-primary" %>
    <br>
    <small>
	Enjoy a scenic ride around Taurangas great cycleways, explore the quiet parks and lovely waterways. Get out on your bikes this spring for a leisurely 25km (or 12km) bike ride. The <a><%= link_to"course", course_path %></a> is unique, safe, and guaranteed to be enjoyed, with great spot prizes to be won, all in support of the BOP Multiple Sclerosis Society.
    </small>
</h2>
  <left>  
    <br>


	<h13>
		A great big thanks to our kind supporters:
<br>
<small>	

	Stihl Mt Maunganui - 
	<a><%= link_to"stihlshop.co.nz","http://www.stihlshop.co.nz/", :target =>"_blank" %></a>
<br>
	SunMedia - 
	<a><%= link_to"sunlive.co.nz","http://www.sunlive.co.nz/", :target =>"_blank" %></a>
<br>
	The Hits - <a><%= link_to"thehits.co.nz","http://www.thehits.co.nz/", :target =>"_blank"%></a>
<br>
	Hedgehog Bikes - <%= link_to"hedgehogbikes.co.nz","http://www.hedgehogbikes.co.nz/", :target =>"_blank"%></a>
<br>
	Countdown Cameron Rd &amp; Fraser Cove - <%= link_to"countdown.co.nz", "http://www.countdown.co.nz", :target =>"_blank"%></a>
<br>
	Life Personal Fitness - <%= link_to"lifepersonalfitness.co.nz","http://www.lifepersonalfitness.co.nz", :target =>"_blank"%></a>
<br>	
	Tasti - <%= link_to"tasti.co.nz","http://www.tasti.co.nz/", :target =>"_blank"%></a>
<br>
	Tauranga City Council - <%= link_to"tauranga.govt.nz","https://www.tauranga.govt.nz/", :target =>"_blank"%></a>
<br>
	Mills Reef Winery - <%= link_to"millsreef.co.nz", "http://www.millsreef.co.nz/", :target =>"_blank"%></a>
<br>
	The Warehouse Fraser Cove - <%= link_to"thewarehouse.co.nz", "http://www.thewarehouse.co.nz/is-bin/INTERSHOP.enfinity/WFS/TWL-B2C-Site/en_NZ/-/NZD/ViewFindAStore-Store?RegionID=4&StoreID=Fraser+Cove&Region=Bay+of+Plenty", :target =>"_blank"%></a>
<br>
	Payless Plastics - <%= link_to"paylessplastics.kiwi", "http://paylessplastics.kiwi/", :target =>"_blank"%></a>
<br>
	The Gym Tauranga - <%= link_to"thegym.co.nz", "http://www.thegym.co.nz/", :target =>"_blank"%></a> 
	<br>
	Dry Dock Cafe - <%= link_to"Our facebook page", "https://www.facebook.com/thedrydockcafe", :target =>"_blank"%></a> 
	<br>
	Taste Cafe - <%= link_to"Our facebook page", "https://www.facebook.com/TasteGlobal", :target =>"_blank"%></a> 
	<br>
	Starbucks - <%= link_to"starbucks.com", "http://www.starbucks.com/", :target =>"_blank"%></a>
	<br>
	NZ Safety - <%= link_to"nzsafety.co.nz", "http://www.nzsafety.co.nz/servlet/Srv.Ecos_Signon?CN=15366&AC=185E7D4D361E7D4D&UC=NZSGUEST", :target =>"_blank"%></a>
    <br>
	Sport Bay of Penty - <%= link_to"sportbop.co.nz", "http://www.sportbop.co.nz/"%></a>
	<br>
	Whitcoulls Bayfair Shopping Center - <%= link_to"Whitcoulls.bayfair.co.nz", "http://www.bayfair.co.nz/Stores/Whitcoulls"%></a>
	<br>
	Chilli Frog Massage - <%= link_to"massagenewzealand.chillifrog", "http://massagenewzealand.org.nz/find-a-therapist/therapist-details/264"%></a>



	</small>
<br>


		Please support these local businesses!
</h2>	
<br>
<br>
<br>
</left>
</div></div>
