<h3>Tour of Tauranga</h3>
<p>
Dear <%= @order.f_name %> <%= @order.l_name %>
<br>
<br>
Thank you for your recent entry/s to the Tour of Tauranga.
<br>
You ordered the following items:
</p>
<table>
  <tr><th>Qty</th><th>Description</th><th>Value</th></tr> 
<%= render @order.line_items -%>
<br>
<tr class="total_line">
  	<td></td><td>Total</td>
    <td class="total_cell"><%= number_to_currency(@order.total_price) %></td>
  </tr>
</table>

<p>
<%= @order.f_name %> please deposit payment into our bank account
<br>
BOPMS Bank Account Details
<br>
Bank name: Westpac. Account number: 
<br>
Please include your name and initials on the deposit.
<br>
Once payment has cleared into our account we will email you an entry to print and bring on the day.
<br>
<br>
Best regards
<br>
The Tour of Tauranga Team
</p>
