<h3>Tour of Tauranga - New Entry</h3>
<p>
The following entry has been processed
<br>
Customer Name: <%= @order.f_name %> <%= @order.l_name %>
<br>
Address: <%= @order.address_1 %>  <%= @order.address_2 %>  <%= @order.town_city %>  <%= @order.post_code %>
<br>
Phone: <%= @order.phone %>
<br>
Email: <%= @order.email %>
<br>
has ordered the following items:
<br>
<table>
  <tr>
  <th>Qty</th><th>Description</th><th>Value</th></tr>
<%= render @order.line_items -%>
<br>
<tr class="total_line">
  	<td></td><td>Total</td>
    <td class="total_cell"><%= number_to_currency(@order.total_price) %></td>
  </tr>
</table>
<br>
The customer has been sent an email with our bank details.
<br>
Payment should show in our account within 2 days of the deposit.
<br>
After payment has cleared, please Email the customer an entry to bring on the day.
Cheers
<br>
Tour of Tauranga Website
</p>