<% provide(:title, 'Welcome') %>
<div class="center hero-unit">
  <div class="container"><h1>All Oders</h1>
    
<%= link_to "New Order", new_order_path, class: "btn btn-large btn-primary" %>
<br>
<br>
<center>
<div class="container">
<h19>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Address</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Phone</th>
      <th>Email</th>
      <th>Pay type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td> <%= order.f_name %></td>
        <td><%= order.l_name %> </td>
        <td><%= order.address_1 %></td>
        <td><%= order.address_2 %></td>
        <td><%= order.town_city %></td>
        <td><%= order.post_code %></td>
        <td><%= order.phone %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</h19>
</div>
</Center>

</div></div>