<% provide(:title, 'Order') %>
<div class="center hero-unit">
  <div class="container"><h1>Selected Order</h1><p id="notice"><%= notice %></p>
<center>
<div class="container">
<h19>
<p>
  <strong>F name:</strong>
  <%= @order.f_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @order.l_name %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @order.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @order.address_2 %>
</p>

<p>
  <strong>Town city:</strong>
  <%= @order.town_city %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @order.post_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Pay type:</strong>
  <%= @order.pay_type %>
</p>

</h19>
</div>
</Center>
<br><h19>
<table class="table">
  
  <tr><th>Qty</th><th>Description</th><th>Value</th></tr> 
<%= render @order.line_items -%>
<br>
<tr class="total_line">
    <td></td><td>Total</td>
    <td class="total_cell"><%= number_to_currency(@order.total_price) %></td>
  </tr>

</table></h19>
<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
</div></div>