<% if line_item == @current_item %>
<tr id="current_item">
<% else %>
<tr>
<% end %>
<tr>
  <td width="10%"><%= button_to "-", decrease_line_item_path(line_item), :method => :put, remote: true, class: "button tiny radius" %></td>
  <td width="10%"><%= button_to "+", increase_line_item_path(line_item), :method => :put, remote: true, class: "button tiny radius" %></td>
  <td width="10%"><%= line_item.quantity %>&times;<br><br></td>
  <td width="60%"><%= line_item.product.title %><br><br></td>
  <td width="10%" class="item_price"><right><%= number_to_currency(line_item.total_price) %></right><br><br></td>
</tr> 

 