<% provide(:title, 'Shop') %>
<div class="center hero-unit">
  <div class="container">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Tour of Tauranga Catalogue</h1>
<table class= "table table-striped">
  <tbody>
<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><%= image_tag(product.image_url) %><td>
    <% cache ['entry', product] do %> 
      <div class="entry">
       <dl> 
        <dt><h8><%= product.title %><h8></dt>
        <dd><h19><%= sanitize(product.description) %></h19></dd>
        <td><h8><div class="price_line"><span class="price"><%= number_to_currency(product.price) %></span></h8></td>
        <td><%= link_to 'Add to Cart', line_items_path(product_id: product), remote: true , class: "btn btn-large btn-primary" %></td>
        </dl>
      </div></div>
  </tr>
    </tbody>
 <% end %>
  <% end %>
<% end %>

        </table>

         </div>
      </div>
   
